<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.sbh">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
            android:icon="@mipmap/ep"
            android:label="@string/epages"
            android:roundIcon="@mipmap/ep_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.SBH"
            android:usesCleartextTraffic="true" >
        <activity android:name=".BusinessPageActivity">
        </activity>
        <activity android:name=".ConsumerAccountEditActivity">
        </activity>
        <activity android:name=".BusinessAccountEditActivity">
        </activity>
        <activity android:name=".ConsumerAccountActivity">
        </activity>
        <activity android:name=".BusinessAccountActivity">
        </activity>
        <activity android:name=".MapsActivity">

        </activity>
        <activity android:name=".HomeScreen">
        </activity>

        <meta-data
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="ca-app-pub-3940256099942544~3347511713"/>
        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>

        <activity android:name=".SignUpActivity">
        </activity>
        <activity android:name=".FavoritesActivity">
        </activity>
        <activity android:name=".LoginActivity">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyCgs9AkjI5b5jA_H-vfPlafvwG6krMtGLQ"/>
    </application>

</manifest>